                                                   /* TABLETS  */


@media (min-width: 501px) and (max-width: 1024px){

 
    .body{
        font: 0.5rem;
    }

    .nav-links{
        gap: 2rem;
        font-size: 1.3rem;
    }
    .nav-logo{
        font-size: 1.7rem;
    }
    .ham{
        display: block;
    }

    .skill-card{
        width: 10rem;
        height: 15rem;
        margin: 1rem;
    }
    .skill-card img{
        width: 10rem;
    }

    .ham{
        display: none;
    }
    .skills-section{
        column-gap: 5rem;
    }
        #footer{
        padding: 1rem;
    }



} 




                                                   /* MOBILE PHONE  */

@media (max-width:500px){


    .menu-link{
        display: none;
    }
    .nav-logo{
        /* text-align: center; */
        font-size: xx-large;
    }
    
    .ham{
        display: block;
        cursor: pointer;
    }

    .mobile-menu{
    background-color: #1f2421;
    opacity: 0.8;
    margin: 0rem 0rem;
    padding: 0rem 7rem;
    font-size: larger;
    display: none;
    /* display: flex;  */
    flex-direction: column;
    }
   
    .mobile-menu ul{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }


        .skills-section{
        column-gap: 2rem;
    }

    .container{
        padding: 0rem 1rem ;
        font-size: 1.5rem
    }
    #p1{
        color: blue;
    }
    
    #p2{
        color: green;
    
    }
    #p3{
        color: pink;
    }
    
    #p4{
        color: lightsalmon;
    }
    
#footer {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

#footer_main {
    margin-bottom: 0rem;
}


}

 