* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: cursive, sans-serif;
    /* background-color: #1f1f2f; */
    background-image: url(images/2nd-bg.jpg);

}

a {
    text-decoration: none;
}

nav img {
    width: 60px;
    border-radius: 50%;
}

nav {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8rem;
    font-size: 1.7rem;
}

.link a {
    color: #fff;
}



.btn {
    padding: 1rem 2rem;
    font-size: 1.7rem;
    font-family: cursive;
    background-color: #1d4ed8;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.btn:hover{
    background-color: #1e40af;
}



.container{
    margin-top: 2rem;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    padding: 2rem;

}

header img{
    margin: 5rem;
    height: 500px;
    border-radius: 50%;
    padding-top: 0;
    margin-top: 0;
}

header h1{
    margin: 1rem 1rem;
}
header h1.name{
    margin: 1rem;
    margin-left: 1rem;
}

header h4 {
    padding: 1rem 1rem;
}

header p {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
}

header span{
    -webkit-text-stroke: 2px #fff;
    color: #000;
}

