html{
    scroll-behavior:smooth;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #dce1de;
}

body {
    font-family:'Segoe Print', 'Patrick Hand',sans-serif;
    background-color: #216869;
    /* background-image: url(images/2nd-bg.jpg); */

}

a {
    text-decoration: none;
}



nav {
    margin: 1rem 0rem;
    width: 100%;
    height: 5rem;
    /* border-radius: 1rem; */
    background-color: #1f2421;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    /* position: fixed; */

}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8rem;
    font-size: 1.5rem;
}

.link a {
    color: #fff;
}
.link a:hover {
    color: #216869;
}
.nav-logo{
    font-size: 2rem;
    flex: 0.9;
}
.nav-logo a {
     color: #9cc5a1;
}


.container {
    margin-top: 2rem;
    color: #fff;
    display: flex;
    font-size: 1.5rem;
    padding: 2rem;

}

header img {
    margin: 5rem;
    width: 90vw;
    border-radius: 50%;
    padding-top: 0;
    margin-top: 0;
}

header h1 {
    margin: 1rem 1rem;
}

header h1.name {
    margin: 1rem;
    margin-left: 1rem;
}

header h4 {
    padding: 1rem 1rem;
}

header p {
    padding: 0.5rem 1rem;
    font-size: 1.7rem;
}

header span {
    -webkit-text-stroke: 0.1rem #9cc5a1;
    color: #1f2421;
}

.skills-section{
    /* margin-top: 1rem; */
    width: 100%;
    height: 50rem;
    background-color: #9cc5a1;
    border-top-left-radius:2rem ;
    border-top-right-radius:2rem ;
    border-bottom-left-radius:2rem ;
    border-bottom-right-radius:2rem ;
    color: #000;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
    justify-content: space-evenly;
}
.skill-card{
    color: #000;
    background-color: #1f2421;
    height: 23rem;
    width:  18rem;
    border-radius: 1rem;
    padding-top: 1rem;
    text-align: center;
    
}

.skill-card img{
    width: 18rem;
    height: auto;
}


#project{
    margin: 2rem 8rem;
    /* padding-top: 2rem; */
}
.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 1.5rem;
   
}

.project-container img{
    height: 30rem;
    width: auto;
}


.text-info {
    /* text-align: center; */
    width: 1400px;

}
.project-container .img{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.project-container h1,.project-container h2{
    color: #000;
}

/* Tablet (min-width: 600px) */
@media (min-width: 600px) {
    .image {
        width: 300px;
    }
}

/* laptop (min-width: 600px) */
@media (min-width: 1200px) {
    .image {
        width: 500px;
    }
}